<ion-view title="Catalogo" id="page1" hide-back-button="true">
            <ion-content padding="true" class="has-header">

        <div class="list">

    <a class="item item-thumbnail-left" href="#/producto">
      <img src="img/puff.jpg">
      <h2>Puff</h2>
      <p>Click para reservar</p>
     </a>

      <a class="item item-thumbnail-left" href="#/producto2">
      <img src="img/hamaca.jpg">
      <h2>Hamaca</h2>
      <p>Click para reservar</p>
     </a>

      <a class="item item-thumbnail-left" href="#/producto3">
      <img src="img/alfombra.jpg">
      <h2>Alfombras</h2>
      <p>Click para reservar</p>
     </a>

      </div>


        </ion-content>
    </ion-view>
