<ion-view title="Pago" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 61px;"></div>
        <form id="pago-form4" class="list ">
            <label class="item item-input " id="pago-textarea2">
                <span class="input-label"></span><textarea placeholder="No. Cedula"></textarea>
            </label>
            <label class="item item-input " id="pago-textarea3">
                <span class="input-label"></span><textarea placeholder="No. Tarjeta"></textarea>
            </label>
            <label class="item item-input " id="pago-textarea4">
                <span class="input-label"></span><textarea placeholder="Cod. Seguridad"></textarea>
            </label>
        </form>
        <a href="#/pagoExitoso" id="pago-button10" class=" button button-balanced  button-block button-outline icon ion-cash "></a>
    </ion-content>
</ion-view>