<ion-view title="Producto2" id="page1" hide-back-button="false">
    <ion-content padding="true" class="has-header">
     
<div class="list card">



  <div class="item item-body">
    <img class="full-image" src="img/hamaca.jpg">
    <p>
     Hamacas relajantes......
    </p>
    <p>
      <label class="item item-input">
  <span class="input-label">Fecha</span>
  <input type="date">
</label>
      <label class="item item-input">
  <span class="input-label">Cantidad</span>
  <input type="number">
</label>
    </p>
    <p>
      <a href="#" class="subdued">12 Like</a>
      <a href="#" class="subdued">13 Comments</a>
      <a href="#" class="subdued">
        <button ui-sref="tipo" class="button button-block button-positive" >
  Alquilar
</button></a>
    </p>
  </div>

</div> 
    </ion-content>
 

</ion-view>